.theme {
    @media screen and (max-width: 767px) {
        margin-bottom: -20px;
    }
}

.theme svg {
    cursor: pointer;
}

.sun-svg {
    width: 40px;
    height: 40px;
    fill: #FFF;
    @media screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
    }
}

.moon-svg {
    width: 40px;
    height: 38px;
    fill: #FFF;
    @media screen and (max-width: 767px) {
        width: 32px;
        height: 30px;
    }
}