.theme {
    @media screen and (max-width: 767px) {
        margin-bottom: -20px;
    }
}

.theme svg {
    cursor: pointer;
}

.sun-svg {
    width: 28px;
    height: 28px;
    fill: #FFF;
    @media screen and (max-width: 767px){
        width: 20px;
        height: 20px;
    }
}

.moon-svg {
    width: 28px;
    height: 26px;
    fill: #FFF;
    @media screen and (max-width: 767px) {
        width: 20px;
        height: 18px;
    }
}