body.light {
   background-color: #e5e5e5;
   transition: box-shadow var(--options-for-transition),
      background-color var(--options-for-transition), transform var(--options-for-transition);
   /* info-window-index-page */

   .modal_window {
      background-color: #fff;
      color: #000;
   }

   .modal_btn_close {
      background-color: #fff;
   }

   .modal_btn_close:hover,
   .modal_btn_close:focus {
      border: 1px solid #000;
   }

   .modal_icon_close {
      fill: #000;
   }

   .modal_tbl_left-side {
      color: #8c8c8c;
   }

   .modal_tbl_right_top.vote {
      background-color: #ff6b01;
      color: #fff;
   }

   .btn_choice {
      border: solid 1px #000;
   }

   .btn_choice:hover,
   .btn_choice:focus {
      background-color: #ff6b01;
      color: #fff;
   }

   /*--- info-window-index-page ---*/

   /* main-index-page */

   body {
      background-color: #e5e5e5;
   }

   .card-title {
      color: #000000;
   }

   .card-average {
      color: #fff;
      background: #ff6b01;
   }

   .card-ganre {
      color: #ff6b01;
   }

   .card-release {
      border-left: 1px solid #ff6b01;
      color: #ff6b01;
   }

   .pagination__list {
      color: #222;
   }

   .pagination__nav-btn {
      background-color: #dedcdc;

      &:hover,
      &:focus {
         background-color: #ff6b01;
      }
   }

   .pagination__icon {
      fill: #000;

      .pagination__nav-btn:hover &,
      .pagination__nav-btn:focus & {
         fill: #fff;
      }
   }

   .pagination__number {
      color: #000;
   }

   .pagination__number:hover,
   .pagination__number:focus {
      background-color: #ff6b01;
      color: #fff;
   }

   .pagination__number_current {
      background-color: #ff6b01;
      color: #fff;
   }

   .preloader div {
      background: #ff6b01;
   }

   .recommended-films {
      color: #000;
   }
   /*--- main-index-page ---*/
   .change-theme[data-theme='light'] {
      display: none;
   }

   .change-theme[data-theme='dark'] {
      display: block;
   }
}
