<header class="header">
   <div class="container">
      <div class="header__wrap">
         <nav class="header__nav">
            <a href="../index.html" class="header__nav--logo"
               ><svg width="24" height="24" class="header__logo--icon">
                  <use href="../images/sprite.svg#icon-film"></use>
                  <span class="header__nav--name">Filmoteka</span>
               </svg>
            </a>

            <ul class="header__nav--list">
               <li class="header__nav--item">
                  <a class="header__nav--link" href="../index.html">Home</a>
               </li>
               <li class="header__nav--item">
                  <a class="header__nav--link current" href="./library.html">My Library</a>
               </li>
               <li class="header__nav--item">
                  <div class="theme">
                     <svg class="change-theme sun-svg" data-theme="light">
                        <use href="../images/sprite.svg#icon-sun"></use>
                     </svg>
                     <svg class="change-theme moon-svg" data-theme="dark">
                        <use href="../images/sprite.svg#icon-moon"></use>
                     </svg>
                  </div>
               </li>
            </ul>
         </nav>
      </div>

      <ul class="header_button_list">
         <li class="header__button">
            <button class="btn-primary" id="watched">WATCHED</button>
         </li>
         <li class="header__button">
            <button class="btn-primary" id="queue">QUEUE</button>
         </li>
      </ul>
   </div>
</header>
