<header class="header">
  <!-- ------------------CONTAINER------------------- -->
  <div class="container">
    <!-- ------------------WRAPPER-------------------- -->
    <div class="header__wrap">
      <!-- -------------------NAVIGATION----------------- -->
      <nav class="header__nav">
        <!-- ----------------LOGO--------------------- -->
        <a href="" class="header__logo"
          ><svg width="24" height="24" class="header__logo--icon">
            <use href="./images/sprite.svg#icon-film"></use>
            <span class="header__logo--name">Filmoteka</span>
          </svg>
        </a>

        <ul class="header__nav--list">
          <li class="header__nav--item">
            <a class="header__nav--link current" href="">Home</a>
          </li>
          <li class="header__nav--item">
            <a class="header__nav--link" href="">My Library</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- ----------------SEARCH----------------- -->
    <div class="header__search">
      <div class="header__search--form">
        <input
          class="header__search--input"
          type="text"
          placeholder="Movie search"
        />
        <button class="header__search--btn">
          <svg width="12" height="12" class="header__search--icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
