<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Page title</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="../sass/_index-library.scss" />
   </head>
   <body class="light">
      <include src="./partials/header-library-page.html"></include>
      <div class="main-content-wrapper">
         <include src="./partials/main-library-page.html"></include>

         <include src="./partials/footer-library-page.html"></include>
      </div>
      <div id="modal-single-film"></div>

      <script type="module" src="../js-blocks/library-interface.js"></script>
   </body>
</html>
