<section class="section gallery container main-content-section">
  <div class="gallery-wrapper">
    <ul class="gallery-list"></ul>
    <!-- card render -->

    <!-- Preloader -->
    <div class="preloader-wrapper js-loader preloader-hidden">
      <div class="preloader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <ul class="pagination__list">
      <li>
        <button
          type="button"
          class="pagination__item pagination__nav-btn pagination__nav-btn_left js-prev-btn visually-hidden"
        >
          <svg class="pagination__icon">
            <use href="./images/sprite.svg#pagination-arrow"></use>
          </svg>
        </button>
      </li>
      <div class="pagination__list js-pages-list"></div>
      <li>
        <button
          type="button"
          class="pagination__item pagination__nav-btn pagination__nav-btn_right js-next-btn visually-hidden"
        >
          <svg class="pagination__icon">
            <use href="./images/sprite.svg#pagination-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
